<!doctype html>
<title>DownloadLog</title>
<nav>
  <h1>DownloadLog</h1>
</nav>
<section class="content">
  <table>
    <tr>
        <th>name</th>
        <th>time</th>
        <th>refdate</th>
        <th>download_status</th> 
        <th>filename</th>
        <th>message</th>
    </tr>
    {% for r in logs %}
    <tr>
        <td>{{ r['name'] }}</td>
        <td>{{ r['time'] }}</td>
        <td>{{ r['refdate'] }}</td>
        <td>{{ r['download_status'] }}</td>
        <td>{{ r['filename'] }}</td>
        <td>{{ r['message'] }}</td>
    </tr>
    {% endfor %}
    </table>    
</section>